In [1]:
import pandas as pd 
import matplotlib.pyplot as plt
import seaborn as sns
from sqlalchemy import create_engine
import psycopg2
import warnings
warnings=warnings.filterwarnings("ignore")

In [2]:
data = pd.read_csv(r"Adidas_Sales.csv")

In [3]:
data

,Retailer,Retailer ID,Invoice Date,Region,State,City,Product ID,Product,Price per Unit,Sales ID,Units Sold,Total Sales,Operating Profit,Sales Method
0,Walmart,1128299,6/17/2021,Southeast,Florida,Orlando,EN3129,Women's Apparel,$103.00,ADI2021617112829962QS6903,218,"2,245","$1,257",Online
1,West Gear,1128299,7/16/2021,South,Louisiana,New Orleans,PK4498,Women's Apparel,$103.00,ADI2021716112829945MR2818,163,"1,679",$806,Online
2,Sports Direct,1197831,8/25/2021,South,Alabama,Birmingham,CI8031,Men's Street Footwear,$10.00,ADI2021825119783176DB3514,700,"7,000","$3,150",Outlet
3,Sports Direct,1197831,8/27/2021,South,Alabama,Birmingham,XQ7899,Women's Street Footwear,$15.00,ADI2021827119783115RX7203,575,"8,625","$3,881",Outlet
4,Sports Direct,1197831,8/21/2021,South,Alabama,Birmingham,IP9775,Women's Street Footwear,$15.00,ADI2021821119783116YG7393,475,"7,125","$3,206",Outlet
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9636,Amazon,1185732,11/18/2021,Northeast,Maine,Portland,WU9613,Men's Apparel,$65.00,ADI20211118118573243NY5829,150,"9,750","$2,438",Outlet
9637,Amazon,1185732,10/22/2021,West,Alaska,Anchorage,BU2407,Women's Athletic Footwear,$65.00,ADI20211022118573292LV0332,150,"9,750","$2,438",Outlet
9638,Amazon,1185732,10/22/2021,West,Alaska,Anchorage,EY4182,Men's Apparel,$75.00,ADI20211022118573264IT8363,150,"11,250","$2,813",Outlet
9639,West Gear,1185732,4/10/2021,Midwest,Indiana,Indianapolis,EX9631,Men's Apparel,$65.00,ADI2021410118573257QS5207,150,"9,750","$2,925",In-store
9640,Sports Direct,1185732,10/5/2021,Northeast,Connecticut,Hartford,HR8113,Men's Apparel,$65.00,ADI2021105118573254JT6854,150,"9,750","$2,925",In-store

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9641 entries, 0 to 9640
Data columns (total 14 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Retailer          9641 non-null   object
 1   Retailer ID       9641 non-null   int64
 2   Invoice Date      9641 non-null   object
 3   Region            9641 non-null   object
 4   State             9641 non-null   object
 5   City              9641 non-null   object
 6   Product ID        9641 non-null   object
 7   Product           9641 non-null   object
 8   Price per Unit    9639 non-null   object
 9   Sales ID          9641 non-null   object
 10  Units Sold        9641 non-null   object
 11  Total Sales       9641 non-null   object
 12  Operating Profit  9641 non-null   object
 13  Sales Method      9641 non-null   object
dtypes: int64(1), object(13)
memory usage: 1.0+ MB

In [5]:
data.shape

(9641, 14)

In [6]:
data.duplicated().sum()

0

In [7]:
data.dtypes

Retailer            object
Retailer ID          int64
Invoice Date        object
Region              object
State               object
City                object
Product ID          object
Product             object
Price per Unit      object
Sales ID            object
Units Sold          object
Total Sales         object
Operating Profit    object
Sales Method        object
dtype: object

In [8]:
data['Invoice Date'] = pd.to_datetime(data['Invoice Date'])
data['Invoice Date']

0      2021-06-17
1      2021-07-16
2      2021-08-25
3      2021-08-27
4      2021-08-21
          ...
9636   2021-11-18
9637   2021-10-22
9638   2021-10-22
9639   2021-04-10
9640   2021-10-05
Name: Invoice Date, Length: 9641, dtype: datetime64[ns]

In [9]:
data['Price per Unit'] = data['Price per Unit'].str.replace('$', '').astype(float)

In [10]:
data['Operating Profit'] = data['Operating Profit'].str.replace('$', '').str.replace(',', '').astype(float)

In [11]:
data['Units Sold'] = data['Units Sold'].str.replace(',', '').astype(int)

In [12]:
data['Total Sales'] = data['Total Sales'].str.replace(',', '').astype(float)

In [13]:
data

,Retailer,Retailer ID,Invoice Date,Region,State,City,Product ID,Product,Price per Unit,Sales ID,Units Sold,Total Sales,Operating Profit,Sales Method
0,Walmart,1128299,2021-06-17,Southeast,Florida,Orlando,EN3129,Women's Apparel,103.0,ADI2021617112829962QS6903,218,2245.0,1257.0,Online
1,West Gear,1128299,2021-07-16,South,Louisiana,New Orleans,PK4498,Women's Apparel,103.0,ADI2021716112829945MR2818,163,1679.0,806.0,Online
2,Sports Direct,1197831,2021-08-25,South,Alabama,Birmingham,CI8031,Men's Street Footwear,10.0,ADI2021825119783176DB3514,700,7000.0,3150.0,Outlet
3,Sports Direct,1197831,2021-08-27,South,Alabama,Birmingham,XQ7899,Women's Street Footwear,15.0,ADI2021827119783115RX7203,575,8625.0,3881.0,Outlet
4,Sports Direct,1197831,2021-08-21,South,Alabama,Birmingham,IP9775,Women's Street Footwear,15.0,ADI2021821119783116YG7393,475,7125.0,3206.0,Outlet
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9636,Amazon,1185732,2021-11-18,Northeast,Maine,Portland,WU9613,Men's Apparel,65.0,ADI20211118118573243NY5829,150,9750.0,2438.0,Outlet
9637,Amazon,1185732,2021-10-22,West,Alaska,Anchorage,BU2407,Women's Athletic Footwear,65.0,ADI20211022118573292LV0332,150,9750.0,2438.0,Outlet
9638,Amazon,1185732,2021-10-22,West,Alaska,Anchorage,EY4182,Men's Apparel,75.0,ADI20211022118573264IT8363,150,11250.0,2813.0,Outlet
9639,West Gear,1185732,2021-04-10,Midwest,Indiana,Indianapolis,EX9631,Men's Apparel,65.0,ADI2021410118573257QS5207,150,9750.0,2925.0,In-store
9640,Sports Direct,1185732,2021-10-05,Northeast,Connecticut,Hartford,HR8113,Men's Apparel,65.0,ADI2021105118573254JT6854,150,9750.0,2925.0,In-store

In [14]:
data.dtypes

Retailer                    object
Retailer ID                  int64
Invoice Date        datetime64[ns]
Region                      object
State                       object
City                        object
Product ID                  object
Product                     object
Price per Unit             float64
Sales ID                    object
Units Sold                   int32
Total Sales                float64
Operating Profit           float64
Sales Method                object
dtype: object

In [15]:
data.isna().sum()

Retailer            0
Retailer ID         0
Invoice Date        0
Region              0
State               0
City                0
Product ID          0
Product             0
Price per Unit      2
Sales ID            0
Units Sold          0
Total Sales         0
Operating Profit    0
Sales Method        0
dtype: int64

In [16]:
mean_price = data['Price per Unit'].mean()
data['Price per Unit'] = data['Price per Unit'].fillna(mean_price)

In [17]:
data.isna().sum()

Retailer            0
Retailer ID         0
Invoice Date        0
Region              0
State               0
City                0
Product ID          0
Product             0
Price per Unit      0
Sales ID            0
Units Sold          0
Total Sales         0
Operating Profit    0
Sales Method        0
dtype: int64

In [18]:
data.describe().round(2)

,Retailer ID,Invoice Date,Price per Unit,Units Sold,Total Sales,Operating Profit
count,9641.00,9641,9641.00,9641.00,9641.00,9641.00
mean,1173850.50,2021-05-10 17:09:06.291878400,45.21,256.78,9316.47,3439.28
min,1128299.00,2020-01-01 00:00:00,7.00,0.00,0.00,0.00
25%,1185732.00,2021-02-17 00:00:00,35.00,106.00,425.00,192.00
50%,1185732.00,2021-06-04 00:00:00,45.00,176.00,957.00,437.00
75%,1185732.00,2021-09-16 00:00:00,55.00,350.00,15000.00,5200.00
max,1197831.00,2021-12-31 00:00:00,110.00,1275.00,82500.00,39000.00
std,26358.69,NaN,14.70,214.12,14182.92,5417.54

In [19]:
data['Retailer'].unique()

array(['Walmart', 'West Gear', 'Sports Direct', 'Foot Locker', 'Amazon',
       "Kohl's"], dtype=object)

In [20]:
data['Region'].unique()

array(['Southeast', 'South', 'Midwest', 'Northeast', 'West'], dtype=object)

In [21]:
data['State'].unique()

array(['Florida', 'Louisiana', 'Alabama', 'Missouri', 'Mississippi',
       'Wisconsin', 'New York', 'Michigan', 'Utah', 'Ohio', 'Arkansas',
       'Georgia', 'Texas', 'Oklahoma', 'West Virginia', 'California',
       'South Carolina', 'Kansas', 'Tennessee', 'North Carolina', 'Idaho',
       'Indiana', 'New Jersey', 'Oregon', 'South Dakota', 'North Dakota',
       'Iowa', 'Maryland', 'Delaware', 'Washington', 'Virginia',
       'Wyoming', 'Minnesota', 'Kentucky', 'Connecticut', 'Rhode Island',
       'Massachusetts', 'New Mexico', 'Nevada', 'Illinois', 'Nebraska',
       'Maine', 'Arizona', 'Vermont', 'New Hampshire', 'Hawaii',
       'Montana', 'Colorado', 'Pennsylvania', 'Alaska'], dtype=object)

In [22]:
data['Product'].unique()

array(["Women's Apparel", "Men's Street Footwear",
       "Women's Street Footwear", "Men's Athletic Footwear",
       "Women's Athletic Footwear", "Men's Apparel", "Men's aparel"],
      dtype=object)

In [23]:
data['Sales Method'].unique()

array(['Online', 'Outlet', 'In-store'], dtype=object)

In [ ]:
# Iterate over each column in the DataFrame
for column in data.columns:
    # Check the data type of the column
    dtype = data[column].dtype
    
    # If the data type is numeric, create a histogram
    if dtype in ['int64', 'float64']:
        plt.figure(figsize=(8, 6))
        sns.histplot(data[column], kde=True)
        plt.title(f'Histogram of {column}')
        plt.xlabel(column)
        plt.ylabel('Frequency')
        plt.show()
    
    # If the data type is categorical or object, create a countplot
    elif dtype == 'object':
        plt.figure(figsize=(8, 6))
        sns.countplot(x=column, data=data, palette='viridis')
        plt.title(f'Count of {column}')
        plt.xlabel(column)
        plt.ylabel('Count')
        plt.xticks(rotation=45, ha='right')
        plt.show()

In [ ]:
# Create a countplot
import seaborn as sns
graph = sns.countplot(x="Retailer", data=data, order=data["Retailer"].value_counts().index, palette='viridis')

# Adding values to each bar
for container in graph.containers:
    graph.bar_label(container)
    
plt.show()

In [ ]:
# Create a countplot
import seaborn as sns
graph_2 = sns.countplot(x="Region", data=data, order=data["Region"].value_counts().index, palette='viridis')

# Adding values to each bar
for container in graph_2.containers:
    graph_2.bar_label(container)
    
plt.show()

In [30]:
try:
    dbConnection = psycopg2.connect(
        user = "postgres",
        password = "admin",
        host = "127.0.0.1",
        port = "5432",
        database = "postgres")
    dbConnection.set_isolation_level(0) # AUTOCOMMIT
    dbCursor = dbConnection.cursor()
    dbCursor.execute('CREATE DATABASE BIBA_TABA;')
    print("Database created successfully")
    dbCursor.close()
except (Exception , psycopg2.Error) as dbError :
    print ("Error while connecting to PostgreSQL", dbError)
finally:
    if dbConnection in locals(): 
        dbConnection.close()

Database created successfully

In [31]:
dbConnection = psycopg2.connect(
        user = "postgres",
        password = "admin",
        host = "127.0.0.1",
        port = "5432",
        database = "biba_taba")

In [32]:
from psycopg2.extensions import ISOLATION_LEVEL_AUTOCOMMIT
dbConnection.set_isolation_level(ISOLATION_LEVEL_AUTOCOMMIT)

In [33]:
dbCursor = dbConnection.cursor()

In [34]:
dbCursor.execute('SELECT current_database()')
dbCursor.fetchone()

('biba_taba',)

In [35]:
# connecting to database

db_url = "postgresql://postgres:admin@localhost:5432/biba_taba"

In [36]:
engine = create_engine(db_url)

In [37]:
data.to_sql('adidas_sales', engine, if_exists = 'replace')

641

In [39]:
dbCursor.execute('''SELECT * from adidas_sales''')

In [40]:
!pip install hubspot-api-client==6.0.0

Collecting hubspot-api-client==6.0.0
  Obtaining dependency information for hubspot-api-client==6.0.0 from https://files.pythonhosted.org/packages/f8/26/943ded8800e099c09b5173ae45f4dd3c42e418a0e07e728a658ca44cf8ea/hubspot_api_client-6.0.0-py3-none-any.whl.metadata
  Downloading hubspot_api_client-6.0.0-py3-none-any.whl.metadata (6.0 kB)
Requirement already satisfied: urllib3>=1.15 in c:\users\alanb\anaconda3\lib\site-packages (from hubspot-api-client==6.0.0) (1.26.16)
Requirement already satisfied: six>=1.10 in c:\users\alanb\anaconda3\lib\site-packages (from hubspot-api-client==6.0.0) (1.16.0)
Requirement already satisfied: certifi in c:\users\alanb\anaconda3\lib\site-packages (from hubspot-api-client==6.0.0) (2023.11.17)
Requirement already satisfied: python-dateutil in c:\users\alanb\anaconda3\lib\site-packages (from hubspot-api-client==6.0.0) (2.8.2)
Downloading hubspot_api_client-6.0.0-py3-none-any.whl (2.6 MB)
   ---------------------------------------- 0.0/2.6 MB ? eta -:--:--
    --------------------------------------- 0.1/2.6 MB 1.1 MB/s eta 0:00:03
   -- ------------------------------------- 0.1/2.6 MB 1.4 MB/s eta 0:00:02
   ---- ----------------------------------- 0.3/2.6 MB 1.9 MB/s eta 0:00:02
   ------- -------------------------------- 0.5/2.6 MB 2.7 MB/s eta 0:00:01
   ----------- ---------------------------- 0.7/2.6 MB 3.1 MB/s eta 0:00:01
   --------------- ------------------------ 1.0/2.6 MB 3.6 MB/s eta 0:00:01
   ------------------ --------------------- 1.2/2.6 MB 3.7 MB/s eta 0:00:01
   ---------------------- ----------------- 1.5/2.6 MB 3.9 MB/s eta 0:00:01
   -------------------------- ------------- 1.7/2.6 MB 4.1 MB/s eta 0:00:01
   ------------------------------ --------- 2.0/2.6 MB 4.2 MB/s eta 0:00:01
   ---------------------------------- ----- 2.3/2.6 MB 4.4 MB/s eta 0:00:01
   ------------------------------------- -- 2.5/2.6 MB 4.4 MB/s eta 0:00:01
   ---------------------------------------- 2.6/2.6 MB 4.3 MB/s eta 0:00:00
Installing collected packages: hubspot-api-client
Successfully installed hubspot-api-client-6.0.0

In [79]:
import psycopg2
from hubspot import HubSpot
from hubspot.crm.deals import SimplePublicObjectInput
import requests
import time

# Database connection
conn = psycopg2.connect(
    user="postgres",
    password="admin",
    host="127.0.0.1",
    port="5432",
    database="biba_taba"
)
cursor = conn.cursor()

# Fetch data from PostgreSQL
cursor.execute("SELECT * FROM adidas_sales")
rows = cursor.fetchall()

url = "https://api.hubapi.com/crm/v3/objects/deals"
token = 'pat-eu1-fad76167-6dec-47f7-bc90-833768d073ed'
headers = {
    "Authorization": f"Bearer {token}",
    "Content-Type": "application/json"
}

batch_size = 100  # Define the batch size
requests_per_batch = 80  # Number of requests to send per batch
retry_attempts = 3  # Number of retry attempts

# Batch Processing: Divide the data into smaller batches and send them gradually
for i in range(0, len(rows), batch_size):
    batch_rows = rows[i:i + batch_size]

    for j, row in enumerate(batch_rows):
        deal_properties = {
            "properties": {
                'retailer': row[1],
                'invoice_date': row[3].isoformat(),
                'region': row[4],
                'state': row[5],
                'city': row[6],
                'product': row[8],
                'price_per_unit': row[9],
                'units_sold': row[11],
                'total_sales': row[12],
                'operating_profit': row[13]
            }
        }

        for attempt in range(retry_attempts):
            response = requests.post(url, headers=headers, json=deal_properties)
            if response.status_code == 201:
                break  # Successful request, exit retry loop
            elif response.status_code == 429:  # Rate limit exceeded
                print(f"Rate limit exceeded. Retrying in 10 seconds...")
                time.sleep(10)  # Delay for 10 seconds before retrying
            else:
                print(f"Error creating deal: {response.text}")

cursor.close()
conn.close()

KeyboardInterrupt: